body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: beige;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.preparation-time {
    background-color: #E2D1E1;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.preparation-time h3 {
    color: maroon;
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #8E7160;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.omellete-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.omelette-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .recipe-description,
    .preparation-time,
    .ingredients,
    .instructions,
    .nutrition,
    .attribution {
        text-align: center;
    }

    table {
        width: 100%;
    }
}